@import "./variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: $default_font;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  box-sizing: border-box;
}

ul,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

svg {
  height: 100%;
  max-width: 100%;
}

section {
  width: 100%;
  margin: 48px 0;
}

button {
  border: none;
  background-color: transparent;
}

.container {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 0 15px;
  max-width: 1200px;
}

.cocogoose {
  font-size: 0.9em;
  font-weight: normal;
  letter-spacing: 0.8px;
  font-family: Cocogoose;

  &.bold {
    font-weight: bold;
  }

  &.gray {
    color: $gray;
  }

  &.red {
    color: $light_red;
  }

  &.dark-red {
    color: $dark_red;
  }
}

.title {
  width: 100%;
  margin: 48px 0 12px;
  text-align: center;
  font-size: calc(1em + 1vw);
  line-height: calc(1em + 1vh);
}

.smt {
  scroll-margin-top: 70px;
}
